p {
  margin-left: 2vw;
  color: white;
}

.addItemButton {
  cursor: pointer;
  position: relative;
  color: black;
  background-color: green;
  left: 0;
  margin: .5em;
  height: 2vw;
  border-radius: 4px;
  border-color: black;
  margin-bottom: 0.5vh;
  width: 100%;
}

.addItemButton:hover {
  background-color: lightgreen;
  left: .1em;
}

#addItemInput {
  margin: .5em;
  background: #535353;
  color: #ffe855;
  border-color: #ffe855;
}

#addItemInput::placeholder {
  color: #ffe855;
}
