nav {
  width: 100vw;
  background-color: black;
  font-size: 1.5rem;
  position: fixed;
  z-index: 1;
}

a {
  color: #ffe855;
  display: inline;
  margin-left: 7vw;
  margin-right: 7vw;
}

main {
  background-color: black;
}
body {
  background-color: black;
}
.content {
  margin-top: 3vh;
}
