<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <app-group-side-nav></app-group-side-nav>
        <div class="col-10" align="center" id="my-groups-container" >
          <div class="row">
            <div id="group-name-header" class="col-6 text-center pt-2">
              Group Name :
            </div>
            <div id="group-members-header" class="col-5 text-center pt-2">
              Group Members :
            </div>
          </div>
          <div *ngFor="let group of groups">
            <div id="groups-info-panel" class="row mx-auto">
              <div id="name-container" class="col-6 text-center">
                <h4 id="group-name" class="display-4">
                  {{ group.groupName }}
                </h4>
              </div>
              <div id="username-col" class="col-5 text-center group-col px-1">
                <div *ngFor="let users of usersGroups">
                  <p id="user-in-group">
                    {{ users.userName }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>