div {
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
li {
  color: #ffe855;
  list-style: none;
  flex-direction: row;
  margin-bottom: 3vh;
}
h1 {
  color: #ffe855;
  margin-bottom: 5vh;
}
