a{
  color : #2d2d2d;
}

ul {
  background-color : #2d2d2d;
}

li {
  border-bottom : 1px solid #535353;
  width : 12vw;
}

.side-nav-option {
 background-color : #ffe855;
}

.nav-container {
  background-color: #ffe855;
  height: 95vh;
  overflow-x: hidden;
  border-right: 2px solid #535353;
}

.side-nav-option:hover {
  background-color: darkgoldenrod;
}

/* .myRow {
  background-color: #ffe855;
  margin : 0;
  display: table;
  width: 100%;
} */

