<body height=100%>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Create Refero Account</h5>
              <form class="form-signin">

                <div class="form-label-group">                  
                  <input type="text" (input)="validateUsername()" [(ngModel)]="user.username" name="inputUsername" class="form-control" placeholder="Username" required autofocus title="Input desired Username" autocomplete="off">                  
                </div>
                <p id="usernameMessage" class="text-center errorText">{{usernameError}}</p>
  
                <div class="form-label-group">                  
                  <input type="password" (input)="validatePassword()" [(ngModel)]="user.password" name="inputPassword" class="form-control" placeholder="Password" required title="Input Password.  Requires 1 letter, 2 numbers and 1 symbol">
                </div>
                <p id="passwordMessage" class="text-center errorText">{{passwordError}}</p>
  
                <div class="form-label-group">                  
                    <input type="password" (input)="validatePasswordConfirm()" [(ngModel)]="passwordConfirm" name="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required title="Confirmed password must match Password">
                </div>
                <p id="passwordConfirmMessage" class="text-center errorText">{{passwordConfirmError}}</p>

                <div class="form-label-group">                  
                    <input type="email" (input)="validateEmail()" [(ngModel)]="user.email" name="inputEmail" class="form-control" placeholder="E-Mail Address" required title="Input E-Mail Address." autocomplete="off">
                </div>
                <p id="emailMessage" class="text-center errorText">{{emailError}}</p>

                <button class="btn btn-success btn-lg btn-primary btn-block text-uppercase" (click)="register()" type="button">Register</button>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  

