<body height=100%>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Create Refero Account</h5>
              <form class="form-signin">

                <div class="form-label-group">                  
                  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus title="Input desired Username" autocomplete="off">                  
                </div>
  
                <div class="form-label-group">                  
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required title="Input Password.  Requires 1 letter, 1 number and 1 symbol">
                </div>
  
                <div class="form-label-group">                  
                    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required title="Confirmed password must match Password">
                </div>

                <div class="form-label-group">                  
                    <input type="email" id="inputEmail" class="form-control" placeholder="E-Mail Address" required title="Input E-Mail Address." autocomplete="off">
                </div>

                <button class="btn btn-success btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                
                <button class="btn btn-success btn-lg btn-primary btn-block text-uppercase" type="button">Back to Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  

