.container {
  background-color: #2D2D2D;
}

#user-in-group {
  color : #ffe855;
}

#groups-info-panel{
  border : 5px solid #d1d1d1;
}

#group-name {
  color : #ffe855;
}

#username-col {
  color : #ffe855;
}

