.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:0;
  margin-left:0
}

.container-fluid {
  background-color: #2d2d2d;
}

#pending-container {
  padding-left: 4vw;
  margin-left: 11vw;
}


