div {
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: #ffe855;
}
a {
  color: #ffe855;
  display: inline;
  margin-left: 7vh;
  margin-right: 7vh;
}
